* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}
.alert-danger {
    background-color: red;
    color: white;
    padding: 10px;
}
.alert-success {
    background-color: green;
    color: white;
    padding: 10px;
}
div.container {
    width: 1300px;
    margin: 0 auto;
}

div.container>header {
    background-color: #1565c0;
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    font-size: large;

}

div.container>nav {
    background-color: #1565c0;
    text-align: center;
    font-size: medium;
}

div.container>nav li {
    display: inline-block;
    line-height: 2rem;
    padding: 15px;
}

div.container>nav a:link,
div.container>nav a:active,
div.container>nav a:visited {
    text-decoration: none;
    color: rgb(250, 250, 250);
    padding: 15px;
    border-radius: 12px;

}

div.container>nav li:hover,
div.container>nav a:hover {
    background-color: #1565c0;
    color: white;
}

div.content {
    min-height: 400px;
    background-color: beige;
    padding: 2rem;
}

div.content h2 {
    text-align: center;
    color: rgb(0, 0, 0);
    margin-bottom: 3rem;
}

div.content p {
    line-height: 1.5rem;
}

div.container>footer {
    background-color: #1565c0;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #0277bd;
    color: #fff;
    text-transform: uppercase;
}

thead th {
    padding: 12px 15px;
    font-weight: bold;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

tbody td {
    padding: 12px 15px;
    text-align: left;
}

tbody td.number {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #fafafa;
}


tfoot td {
    padding: 12px 15px;
}

form.form label {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    padding: 0.2rem;
    border-radius: 0.25rem;
}


form input[type=text],
form input[type=number],
form select {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    padding: 0.4rem;
    border: 0.5px solid #181818;
    border-radius: 0.25rem;
    width: 400px;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

form input[type=submit],
form input[type=reset] {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

form input[type=submit]:hover,
form input[type=reset]:hover {
    background-color: #0b4d92;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

form .error {
    display: block;
    margin-top: 0.5rem;
    color: #dc3545;
    font-size: 1.1rem;
}


p {
    margin: 0;
    padding: 5px;
    background-color: #f2f2f2;
    border-radius: 5px;
}


.btn-edit {
    min-width: 30px;
    height: 15px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #4433ff;
    color: #4433ff;
    text-decoration: none;
  }
  .btn-edit:hover {
    color: #fff;
  }
  .btn-edit:hover:after {
    height: 100%;
  }
  .btn-edit:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #4433ff;
  }

  .btn-list {
    min-width: 30px;
    height: 15px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid yellow;
    color: yellow;
    text-decoration: none;
  }
  .btn-list:hover {
    color: #fff;
  }
  .btn-list:hover:after {
    height: 100%;
  }
  .btn-list:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: yellow;
  }

  .btn-save {
    min-width: 60px;
    height: 30px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid green;
    color: green;
    text-decoration: none;
  }
  .btn-save:hover {
    color: #fff;
  }
  .btn-save:hover:after {
    height: 100%;
  }
  .btn-save:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: green;
  }

  .btn-del {
    min-width: 60px;
    height: 30px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 2px solid #d90429;
    color: #d90429;
    text-decoration: none;
  }
  .btn-del:hover {
    color: #fff;
  }
  .btn-del:hover:after {
    height: 100%;
  }
  .btn-del:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #d90429;
  }