* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

div.container {
    width: 1200px;
    margin: 0 auto;
}

div.container>header {
    background-color: rgb(66, 66, 66);
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
    font-size: large;

}

div.container>nav {
    background-color: rgb(100, 100, 100);
    text-align: center;
    font-size: medium;
}

div.container>nav li {
    display: inline-block;
    line-height: 2rem;
    padding: 15px;
}

div.container>nav a:link,
div.container>nav a:active,
div.container>nav a:visited {
    text-decoration: none;
    color: rgb(250, 250, 250);
    padding: 15px;
    border-radius: 12px;

}

div.container>nav li:hover,
div.container>nav a:hover {
    background-color: rgb(66, 66, 66);
    color: white;
}

div.content {
    min-height: 400px;
    background-color: beige;
    padding: 2rem;
}

div.content h2 {
    border-bottom: medium rgb(66, 66, 66) solid;
    font-family: Arial;
    color: rgb(66, 66, 66);
    margin-bottom: 3rem;
}

div.content p {
    line-height: 1.5rem;
}

div.container>footer {
    background-color: rgb(66, 66, 66);
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    color: #333;
    font-size: 14px;
    line-height: 1.5;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

thead {
    background-color: #222;
    color: #fff;
    text-transform: uppercase;
}

thead th {
    padding: 12px 15px;
    font-weight: bold;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

tbody td {
    padding: 12px 15px;
    text-align: left;
}

tbody td.number {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #fafafa;
}

tfoot {
    background-color: #444;
    color: #fff;
    text-transform: uppercase;
}

tfoot td {
    padding: 12px 15px;
}

form.form label {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 0.25rem;
}


form input[type=text],
form input[type=number],
form select {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.25rem;
}

form input[type=submit],
form input[type=reset],
button {
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

form input[type=submit]:hover,
form input[type=reset]:hover,
button:hover {
    background-color: #0b4d92;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    font-weight: bold;
}

form .error {
    display: block;
    margin-top: 0.5rem;
    color: #dc3545;
    font-size: 1.1rem;
}
.btn {
    height: 25px;
    color: #fff;
    padding: 5px 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 10px;
    z-index: 0;
    background: #fff;
    overflow: hidden;
    border: 1px solid #4433ff;
    color: #4433ff;
  }
  .btn:hover {
    color: #fff;
  }
  .btn:hover:after {
    height: 100%;
  }
  .btn:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
    height: 0;
    width: 100%;
    background: #4433ff;
  }